@import "bootstrap";
.jumbotron {
  background-color: #FFFFF0;
  width: 100%;
}

#box_1 { 
  position: absolute;
  top: 0;
  right: 20%; 
  bottom: 0;
  left: 0;
  background: #FFFFF0;
}

#box_2 { 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 80%; 
  background: #C96464;
}